@keyframes jump {
    0% { transform:translate(0px,0px); } 50% { transform:translate(0px,-15px); } 100% { transform:translate(0px,0px); }
}
@-moz-keyframes jump {
    0% { transform:translate(0px,0px); } 50% { transform:translate(0px,-15px); } 100% { transform:translate(0px,0px); }
}

@-webkit-keyframes jump {
    0% { transform:translate(0px,0px); } 50% { transform:translate(0px,-15px); } 100% { transform:translate(0px,0px); }
}
@-ms-keyframes jump {
    0% { transform:translate(0px,0px); } 50% { transform:translate(0px,-15px); } 100% { transform:translate(0px,0px); }
}
@-o-keyframes jump {
    0% { transform:translate(0px,0px); } 50% { transform:translate(0px,-15px); } 100% { transform:translate(0px,0px); }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
            transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
            transform: translateZ(-1100px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

html {

}

body {
    overflow-x: hidden;
    letter-spacing: 0px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    padding:0px;
    background-color: #4a4a4a;
    font-family: 'Karla', sans-serif;
    cursor: default;
}

.slide-in-fwd-center{-webkit-animation:slide-in-fwd-center .4s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-fwd-center .4s cubic-bezier(.25,.46,.45,.94) both}
.slide-in-bottom {-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.slide-out-bottom {-webkit-animation: slide-out-bottom 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;animation: slide-out-bottom 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;}
.vibrate-1 {-webkit-animation: vibrate-1 0.3s linear infinite both;animation: vibrate-1 0.3s linear infinite both;}.slide-out-bck-center {-webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;}

.loading_screen {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e4e4e4;
    z-index: 999;
}

.loading_screen h1 {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    font-size: 50px;
    text-align:center;
    width: 200px;
    margin: 0 auto;
    color: #5e9000;
}

#debug {
    font-size:20px !important;
}

.final_score_container {
    position:absolute;
    top: 0;
    margin:0;
    width:100%;
    height:100%;
    background-color: rgba(51, 51, 51, 0.95);
    display:none;
}

.final_score_container #reload {
    bottom: 40px;
    width: 75%;
    background-color: #108244;
    /* margin: 0 auto; */
    position: absolute;
}

.main_score {
    margin: 0 auto;
    margin-top: 115px;
    padding: 50px;
    font-size: 150px;
    width: 200px;
    border-radius: 175px;
    background-color: #dede00;
}

.pos_score {
    /* position: absolute; */
    /* margin:0 auto; */
    /* margin-top: 20px; */
    /* margin-right: 27px; */
    /* font-size: 22px; */
    max-height: 70%;
    /* height: 40%; */
    width: 75%;
    margin: 0 auto;
    background-color: #259fff8c;
    color: white;
    z-index: 999999999999;
    margin-top: 75px;
    /* top: 105px; */
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 5px 0px 5px 0px;
}

.pos_score h3 {
    margin: 0 auto;
    width: 80%;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid #efefefbf;
    font-size: 26px;
}

.alone_select_categories_container {
    display:none;
    z-index:999;
}

.alone_select_categories_container h1 {
    font-size:18px;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff1c;
}

.alone_select_inner_container {
    width: 90%;
    margin: 0 auto;
    height:200px;
    margin-top: 40px;
}

.alone_select_categories {
    width:90%;
    max-width: 500px;
    /* height: 150px; */
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    /* top: 10px; */
    background-color: #21212159;
    border-radius: 10px;
}

.categories_alone_selection_item input {
    float: left;
    height: 20px;
    width: 20px;
    margin: 4px;
    margin-left: 15px;
    /* padding-right: 20px; */
}

.categories_alone_selection_item p {
    padding: 5px;
    margin: 7px;
    margin-left: 40px;
    color: white;
}

.inner_pos_score {
    /* position: relative; */
    /* top: 40%; */
    max-height: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #6b99be;
    border-radius: 10px;
    padding: 20px;
    font-size: 32px;
    /* display: inline-block; */
    overflow-y: scroll;
    /* transform: translateY(-55%); */
}

.inner_pos_score div {
    margin:10px;
    display: block;
}

.question {
    margin:0 auto;
    margin-top: 8px;
    max-width: 500px;
    /* border-top: 4px solid #333333; */
    background-color: #0f79ce;
    color: white;
    padding: 10px;
    width: 80%;
    /* font-weight: bold; */
    border-radius:10px;
}

.answer {
    cursor: pointer;
    background-color: #efefef;
    margin: 0 auto;
    margin-top:10px;
    padding: 10px;
    max-width: 500px;
    font-size: 19px;
    /* font-weight: bold; */
    width:80%;
    border-radius: 10px;
}

.chosen_button {
    cursor: pointer;
    background-color: #2585af;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0px;
    font-size: 16px;
    margin: 0px;
    /* border-radius: 10px; */
    /* font-weight: bold; */
    width: 49%;
}

.chosen_button i {
    float:left;
    background-color: #333536;
    color: #ffffff;
    font-size: 26px;
    padding: 10px;
    margin: 0px;
    width: 25px;
    /* height: 100%; */
}

.chosen_button p {
    text-align:center;
    padding: 10px !important;
    margin: 10px;
    font-size: 18px;
}

.chosen_button_container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

#chosen_answer_content {
    background-color: #efefef;
    /* padding: 25px 0px 25px 0px !important; */
    /* border-bottom: 10px solid rgb(226, 226, 226); */
    bottom: 20px;
    font-weight: bold;
}

#chosen_answer_question {
    background-color: #e2e2e2;
    /* padding: 20px 0px 20px 0px !important; */
    font-size: 18px;
}

#chosen_answer {
    margin: 0 auto;
    /* position: absolute; */
    height: 100%;
    max-width: 500px;
    margin-top: 130px;
    padding: 0px;
    font-size: 22px;
    text-align: center;
    width: 85%;
    /* top:40%; */
}

#chosen_answer p {
    margin: 9px 0px 9px 0px;
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    font-weight: bold;
}

#chosen_button p {
    margin: 0px;
}

#chosen_yes {
    background-color: #207949;
    float: left;
}

#chosen_no {
    background-color: #98442c;
    float: right;
}

.chosen_container {
    position:absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height:100%;
    background-color: rgba(51, 51, 51, 0.95);
    z-index: 999;
    display:none;
}

.overlay {
    font-size: 60px;
    color: white;
    text-align: center;
}

.full_overlay {
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    z-index:-1;
    display:none;
    background-color: rgba(19, 19, 19, 0.7);
}

.correct {
    display:none;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    background-color: rgba(56, 189, 61, 0.94);
    top: 25%;
}

.not_correct {
    display:none;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    background-color: rgba(214, 38, 38, 0.94);
    top: 25%;
}

.main_menu_container {
    font-size: 20px;
    text-align:center;
    width:100%;
    bottom:0px;
    padding-bottom:10px;
    padding-top: 3px;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.86);
}

.main_menu_item {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px;
    max-width: 500px;
    width:80%;
    border-radius: 10px;
}

.main_menu_item:hover {
    background-color:#67e671;
    color:white;
}

.pre_new_user_prompt_container {
    display:none;
}

#group {
    background-color: #1a89bb;
    color:white;
}

#alone {
    background-color: #108244;
    color:white;
    padding: 1px;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

#categories_alone {
    display:none;
    background-color: #108244;
    color:white;
    padding: 1px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

#pre_alone {
    background-color: #108244;
    color:white;
}

#expl {
    background-color: #0e793f;
    color:white;
}

.question_container {
    display:none;
    font-size: 22px;
    text-align:center;
    width:100%;
    bottom:0px;
    padding-bottom: 10px;
    padding-top: 3px;
    position:absolute;
    background-color: rgba(49, 49, 49, 0.47);
}

.category_container {
    position:absolute;
    top: 60px;
    margin:0;
    width:100%;
    height:100%;
    background-color: rgba(51, 51, 51, 0.95);
    display:none;
}

.category_inner_container {
    position:relative;
    top: 40%;
    transform: translateY(-50%);
}

.category_visual {
    height: 200px;
    width: 200px;
    border-radius:100%;
    background-color:white;
    margin: 0 auto;
}

.category_visual h1 {
    font-weight:bold;
    text-align: center;
    padding-top: 50px;
    font-size: 75px;
}

.category_name {
    margin:0 auto;
    width:100%;
    text-align:center;
    margin-top: 25px;
    font-size: 24px;
    padding: 8px 0px 8px 0px;
    /* font-weight: bold; */
    background-color: #1b7244;
    color: white;
}

.jumper {
    -webkit-animation: jump 1s cubic-bezier(0.45, 0, 0.6, 1) infinite;
    -moz-animation: jump 1s cubic-bezier(0.45, 0, 0.6, 1) infinite;
    -ms-animation: jump 1s cubic-bezier(0.45, 0, 0.6, 1) infinite;
    -o-animation: jump 1s cubic-bezier(0.45, 0, 0.6, 1) infinite;
    animation: jump 1s cubic-bezier(0.45, 0, 0.6, 1) infinite;
}

.title {
    z-index:999999999;
    font-size: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f1f1f1;
    position:absolute;
    text-align:center;
    margin-top: 0;
    width:100%;
    background-color: rgba(49, 49, 49, 0.48);
}

.title p {
    padding:0;
    margin:0;
    color:#ff3232;
}

#container canvas {
    height:40% !important;
}

.create_group_container {
    display:none;
    margin: 0 auto;
    /* margin-top: 18%; */
    max-width: 500px;
    width: 85%;
    padding: 5px;
}

#creategroup {
    width:100%;
}

.create_group_container input {

}

.create_group_container h4 {
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
}

.create_group_container h1 {
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 4px;
}

.lobby_container {
    display:none;
}

.lobby_admin {
    display:none;
    max-width:500px;
    margin: 0 auto;
    /* margin-top: 18%; */
    width: 85%;
    padding: 10px;
}

.lobby {
    margin: 0 auto;
    /* margin-top: 18%; */
    width: 85%;
    max-width: 500px;
    padding: 10px;
}

.lobby_admin h1 {
    color:white;
    font-size: 22px;
    text-align: center;
}

.lobby_admin h3 {
    color:white;
    font-size: 16px;
    text-align: center;
    border: 1px solid #444444;
    border-radius: 10px;
    padding: 10px;
}

.lobby h1 {
    color:white;
    font-size: 22px;
    text-align: center;
}

.lobby h3 {
    color:white;
    font-size: 16px;
    text-align: center;
    border: 1px solid #444444;
    border-radius: 10px;
    padding: 10px;
}

.lobby_item_list {
    background-color: rgba(255, 255, 255, 0.13);
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 230px;
    /* padding: 20px 0px 20px 0px; */
    border-radius: 10px;
}

.lobby_item {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2196F3;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#chosen_new_group {
    background-color: #795f50;
    width: 100%;
}

.chosen_menu {
    background-color: #90b531;
    width: 100%;
}

.chosen_menu_group {
    background-color: #0e8e49;
    width: 100%;
}

.multiplayer_name_list {
    background-color: rgba(255, 255, 255, 0.13);
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 230px;
    margin:0 auto;
    /* padding: 20px 0px 20px 0px; */
    border-radius: 10px;
}

.multiplayer_lobby_inner_container {
    width:80%;
    margin:0 auto;
    padding: 15px;
    max-width: 500px;
}

.multiplayer_lobby_inner_container h1 {
    color: white;
    font-size: 20px;
    text-align: center;
}

.multiplayer_name_list p {
    float:left;
    width:90%;
    color: white;
    min-width: 60px;
    text-align: center;
    padding: 0px;
    margin: 18px 0px 0px 0px;
}

.kick {
    float:left;
    width:10%;
    color:#d20000;
    font-weight:bold;
    font-size:22px;
    margin-top:13px;
}

.dark_overlay {
    z-index:999;
    position: absolute;
    top: 60px;
    margin: 0;
    width: 100%;
    min-height: 100%;
    /* height: 100%; */
    background-color: rgba(45, 45, 45, 0.95);
}

.new_user_prompt {
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    max-width: 500px;
    width: 75%;
}

.new_user_prompt h1 {
    color:white;
    margin: 10px;
    font-size: 18px;
}

.logo_container {
    background-color: rgba(255, 255, 255, 0.86);
    width:100%;
    position: absolute;
    z-index: 9999;
    min-height: 60px;
}

.test_logo {
    padding: 10px;
    margin: 0 auto;
    display: block;
    max-width: 90%;
    height: 40px;
    z-index:999;
}

.pre_new_user_prompt {
    margin:0 auto;
    margin-top:60px;
    width: 80%;
    text-align: center;
    color:white;
}

.pre_new_user_prompt h1 {
    font-size: 20px;
    margin-bottom: 18px;
    font-size: 16px;
    margin-top: 20px;
    /* font-size: 26px; */
    padding: 10px;
    border-bottom: 1px solid #ffffff4a;
}

#user_chosen_yes {
    float:left;
    background-color: #108244;
}

#user_chosen_no {
    float:right;
    background-color: #067ea0;
}

.age_input {
    width: 70px;
}

.users_group_selection_container {
    background-color: rgba(255, 255, 255, 0.13);
    display: inline-block;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 120px;
    padding: 5px;
    border-radius: 10px;
}

.user_group_selection_item_container {
    width:100%;
}

.user_group_selection_item {
    width: 100%;
    padding: 5px;
}

.users_group_selection_container input {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}

.users_group_selection_container p {
    color:white;
    margin: 0px;
    padding-left: 25px;
}

.categories_group_selection_container {
    background-color: rgba(255, 255, 255, 0.13);
    display: inline-block;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 120px;
    padding: 5px;
    border-radius: 10px;
}

.categories_group_selection_item_container {
    width:100%;
}

.categories_group_selection_item {
    width: 100%;
    padding: 5px;
}

.categories_group_selection_container input {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}

.categories_group_selection_container p {
    color:white;
    margin: 0px;
    padding-left: 25px;
}

#groupnametitle {
    font-size: 24px;
    margin: 0;
    color: #90b531;
}

.multiplayer_lobby_container {
    display:none;
}

input {
    height: 35px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border: none;
}

.sub_final_score_container {
    margin:0 auto;
    display:block;
    width: 75%;
}

#betweenname {
    width:50%;
}

#chosen_username {
    cursor:pointer;
    background-color: #067ea0;
    padding: 1px;
    width:100%;
}

.about_container {
    display:none;
}

.about {
    width:80%;
    margin:0 auto;
    margin-top:120px;
}

.prompt_overlay {
    display:none;
    z-index:9999999999999999;
    position: absolute;
    margin-top: 60px;
    height:100%;
    width:100%;
    background-color: #1d1d1dfc;
}

.prompt_overlay_inner {
    margin:0 auto;
    width:80%;
    display:block;
    position: relative;
    top: 40%;
    transform: translateY(-60%);
}

#prompt_text {
    font-size:22px;
    color:white;
    text-align: center;
}

#prompt_button {
    width: 70%;
    background-color: #5e9000;
    color:white;
    margin:  auto;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
}

#play_group {
    width:80%;
    background-color: #825324;
    color:white;
}

#explain {
    width:80%;
    background-color: #067ea0;
    color:white;
}

#explain_part_button {
    background-color: #067ea0;
    color:white;
}

#explain_alone_button {
    background-color: #108244;
    color:white;
}

#explain_group_button {
    background-color: #825324;
    color:white;
}

#explain_part {
    display:none;
}

#explain_alone {
    display:none;
}

#explain_group {
    display:none;
}

#start_menu {
    display:block;
}

#explain_menu {
    display:none;
}

#main_menu {
    display:none;
}

.explain_container {
    display:none;
    height: 100%;
    top: 60px;
    color: white;
    background-color: rgba(51, 51, 51, 0.95);
}

.explain_inner_container {
    width:80%;
    margin: 0 auto;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category {
    background-color: #005ea9;
    padding: 10px 0px 25px 0px;
    color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

.back_to_start_button {
    width:80%;
    max-width: 500px;
    margin:0 auto;
    padding: 1px;
    background-color: #248ab7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

.category_prompt_overlay {
    position:absolute;
    display:none;
    width: 100%;
    height:100%;
}

.category_prompt_overlay_inner {
    width: 100%;
    display: block;
    height:100%;
    background-color: rgba(45, 45, 45, 0.55);
    top: 15%;
    transform: translateY(-50%);
    padding-top: 60px;
    margin-top: 60px;
}

.category_prompt_overlay_inner img {
    border-radius:100%;
    width: 200px;
    height: 200px;
    margin:0 auto;
    /* padding-top: 130px; */
    border: 5px solid #f4fbff;
    display:none;
}

#chosen_answer_title {
    color: white;
    font-size: 28px;
    margin: 15px 0px 15px 0px;
    padding: 0px;
    /* width: 100%; */
}

.parrot {
    height: 50px;
    margin-top: 0px;
    margin-bottom: 19px;
    padding: 20px;
}

#play {
    width:100%;
}

#new_user_prompt_title {
    font-size: 24px;
    padding: 5px;
}

#user_chosen_menu {
    margin-top: 15px;
    background-color: #565656;
    padding: 0px;
    width: 100%;
    float: left;
}

#user_chosen_logout {
    margin-top: 15px;
    background-color: #82572b;
    padding: 0px;
    width: 100%;
    float: left;
}

#pre_new_user_prompt_text {
    font-size:26px;
    border:none;
}

#back_to_login_admin {
    width:100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

#back_to_login {
    width:100%;
    padding-top:1px;
    padding-bottom:1px;
}

#chosen_username_back {
    width:100%;
    background-color: #565656;
    margin-top: 10px;
    padding: 1px;
}

.back_to_explain_button {
    width:80%;
    margin:0 auto;
    padding: 1px;
    background-color: #248ab7;
    color: white;
    border-radius: 10px;
    max-width: 500px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

#category_prompt_text {
    color: white;
    text-align: center;
    background-color: rgba(23, 23, 23, 0.63);
    padding: 10px;
}

#logo_1 {
    display:none;
}
#logo_2 {
    display:none;
}
#logo_3 {
    display:block;
}
