html {
    height:100%;
}

body {
    min-height: 100vh;
    letter-spacing: 0px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    padding:0px;
    background-color: #ececec;
    font-family: 'Karla', sans-serif;
    cursor: default;
}

.container {
    width: 90%;
    min-height: 75%;
    max-width: 500px;
    /* top: 60px; */
    margin:0 auto;
    margin-top: 70px;
    background-color: #e0e0e0;
    padding: 15px;
}

.text-center {
    text-align:center;
    width:100%;
    font-size: 20px;
    color: #683c10;
    margin: 0;
}

.form-group label {
    width:100%;
    text-align:center;
}

.form-group h3 {
    width:100%;
    text-align:center;
    margin-bottom: 5px;
}

.form-group input {
    width:100%;
    text-align:center;
    border:none;
    font-size:18px;
    padding: 5px 0px 5px 0px;
    border-radius:10px;
}

.button {
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    width: 75%;
    background-color: #067ea0;
    color: white;
    /* background-color: #faffbd; */
}

.inner_container {
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    background-color: #ececec;
    border-radius: 10px;
}

.dark_inner_container {
    padding: 10px 0px 10px 0px;
    /* margin: 70px 0px 10px 0px; */
    border-radius: 10px;
    /* top: 60px; */
    width: 90%;
    min-height: 75%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 65px;
}

.sub_title {
    width: 90%;
    color:black;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #d4d4d4;
    margin-top: 10px;
}

.header {
    margin-bottom: 20px;
    /* padding: 10px 0px 10px 0px; */
    background-color: white;
    margin-top: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.logo {
    /* width:80%; */
    margin: 0 auto;
    display:block;
    padding: 10px;
    margin: 0 auto;
    display: block;
    max-width: 90%;
    height: 40px;
    z-index: 999;
}

.sub_button {
    width: 50%;
    font-size: 16px;
}

.return {
    background-color: #076633;
}

.code_input {
    width: 75%;
    padding: 5px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    font-size: 50px;
    text-align: center;
    border: 1px solid #d0d0d0;
    border-radius:10px;
}

.prompt {
    width:100%;
    text-align:center;
    color: #de2f2f;
    /* font-size: 13px; */
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login_input {
    width: 75%;
    margin: 0 auto;
    display: block;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.code_dn_input {
    width: 75%;
    margin: 0 auto;
    display: block;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.age_container {
    width:75%;
    margin:0 auto;
    text-align: center;
}

.overlay_container {
    /* z-index: 20; */
    position: absolute;
    top: 0px;
    height: 100%;
    display: none;
    margin: 0;
    width: 100%;
    /* height: 120%; */
    min-height: 750px;
    background-color: rgba(45, 45, 45, 0.95);
}

.prompt_img {
    width: 25px;
    margin: 0 auto;
    display: block;
}

.prompt_title {
    text-align: center;
    color: white;
    background-color: #313131;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
}

.code_age_input {
    width: 20%;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.edit_container {
    width: 95%;
    min-height:200px;
    margin: 0 auto;
    margin-top: 8px;
    border: 1px solid #afafaf;
    border-radius: 10px;
    background-color: #d9d9d9;
    padding: 10px 0px 10px 0px;
}

.category_inner {
    width:100%;
}

.category {
    padding-left:0px;
    margin-top: 15px;
    border-top: 1px solid #afafaf;
    padding: 5px;
    background-color: #6e9850;
    /* border-radius: 10px; */
    color: white;
}

.question {
    padding: 3px;
    /* padding-left: 20px; */
    margin-top: 0px;
    border-bottom: 1px solid #b0b0b0;
    border-top: 1px solid #afafaf;
    background-color: #ececec;
    color: black;
}

.answer {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    border: 1px solid #afafaf;
    padding: 3px;
    /* border-bottom: 1px solid #afafaf; */
    /* border-right: 1px solid #afafaf; */
    border-radius: 5px;
    background-color: #d9d9d9;
}

.correct {
    background-color: #559673;
    color:white;
}

p {
    margin: 5px 5px 5px 30px;
    font-size: 14px;
}

.dropdown_button {
    margin-top: -45px;
    float: right;
    font-size: 30px;
    height: 25px;
    cursor: pointer;
    padding: 10px;
    text-align: right;
}

.dropdown_button_question {
    color: black;
    margin-top: -30px;
    margin-right: 10px;
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 0px;
    /* background-color: green; */
    height: 30px;
    text-align: right;
}

.remove_button {
    margin-top: -34px;
    margin-right: -2px;
    float: left;
    font-size: 17px;
    cursor: pointer;
    padding: 10px;
    /* text-align: center; */
    color: red;
    font-weight: bold;
}

.edit_button_cat {
    text-align:center;
    margin: 0 auto;
    width: 50%;
    background-color: #2eaae1;
    color: white;
    border-radius: 10px;
    padding: 8px;
}

.add_button {
    color: #ececec;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: 0 auto;
    font-size: 14px;
    /* border-radius: 10px; */
    background-color: #067ea0;
}

.input_add {
    border:none;
    text-align: center;
    display: block;
    top: 0px;
    padding: 10px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
    width: 75%;
}

.input_vraag {
    color: white;
    background-color: #2daae1;
}

.input_antwoord {
    color: black;
    padding: 5px 10px 5px 10px;
}

.checkbox_answer {
    float: right;
    height: 25px;
    width: 25px;
    margin-top: -27px;
    margin-right: 24px;
}

.red {
    background-color: #a92929;
}

.edit_question_button {
    color: #ececec;
    text-align: center;
    background-color: #067ea0;
    width: 75px;
    margin: 0 auto;
    padding: 3px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.edit_user_container {
    color: black;
    border: 1px solid #ababab;
    padding: 4px 4px 4px 4px;
    background-color: white;
    margin: 3px;
    width: 95%;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 8px;
    border: 1px solid #afafaf;
    border-radius: 10px;
    /* background-color: #d9d9d9; */
    /* padding: 10px 0px 10px 0px; */
}

.edit_user_container h1 {
    color: red;
    font-size: 18px;
    margin: 3px;
    padding: 0;
    float: left;
    cursor: pointer;
}

.single_user {
    margin-top: -1px;
    width: 100%;
    float: left;
    border: 1px solid #ababab;
}

.edit_user_container input {
    color: red;
    float: right;
    margin: 7px;
    margin-right: 25px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.single_user p {
    float: left;
    width: 30%;
}

#users_container {
    height: 200px;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#question_text {
    border: 2px solid #40b2e4;
}

#add_cat_button {
    background-color: #2daae1;
}

#add_cat {
    display: none;
}

#categories_container {
    display:none;
}

#main_menu {
    display: none;
}

#code_menu {
    display: none;
}

#app_menu {
    display: none;
}

#admin_menu {
    display: none;
}
