html {
    height:100%;
}

body {
    height:100%;
    letter-spacing: 0px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    padding:0px;
    background-color: #ececec;
    font-family: 'Karla', sans-serif;
    cursor: default;
}

.container {
    width: 90%;
    min-height: 75%;
    max-width: 500px;
    /* top: 60px; */
    margin:0 auto;
    margin-top: 70px;
    background-color: #e0e0e0;
    padding: 15px;
}

.text-center {
    text-align:center;
    width:100%;
    font-size: 20px;
    color: #683c10;
    margin: 0;
}

.form-group label {
    width:100%;
    text-align:center;
}

.form-group h3 {
    width:100%;
    text-align:center;
    margin-bottom: 5px;
}

.form-group input {
    width:100%;
    text-align:center;
    border:none;
    font-size:18px;
    padding: 5px 0px 5px 0px;
    border-radius:10px;
}

.button {
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    width: 75%;
    background-color: #067ea0;
    color: white;
    /* background-color: #faffbd; */
}

.inner_container {
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    background-color: #ececec;
    border-radius: 10px;
}

.dark_inner_container {
    padding: 10px 0px 10px 0px;
    /* margin: 70px 0px 10px 0px; */
    border-radius: 10px;
    /* top: 60px; */
    width: 90%;
    min-height: 75%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.sub_title {
    width: 90%;
    color:black;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #d4d4d4;
}

.header {
    margin-bottom: 20px;
    /* padding: 10px 0px 10px 0px; */
    background-color: white;
    margin-top: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.logo {
    /* width:80%; */
    margin: 0 auto;
    display:block;
    padding: 10px;
    margin: 0 auto;
    display: block;
    max-width: 90%;
    height: 40px;
    z-index: 999;
}

.sub_button {
    width: 50%;
    font-size: 16px;
}

.return {
    background-color: #076633;
}

.code_input {
    width: 75%;
    padding: 5px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    font-size: 50px;
    text-align: center;
    border: 1px solid #d0d0d0;
    border-radius:10px;
}

.prompt {
    width:100%;
    text-align:center;
    color: #de2f2f;
    /* font-size: 13px; */
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login_input {
    width: 75%;
    margin: 0 auto;
    display: block;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.code_dn_input {
    width: 75%;
    margin: 0 auto;
    display: block;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.age_container {
    width:75%;
    margin:0 auto;
    text-align: center;
}

.overlay_container {
    z-index: 20;
    position: absolute;
    top: 0px;
    display: none;
    margin: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(45, 45, 45, 0.95);
}

.prompt_img {
    width: 25px;
    margin: 0 auto;
    display: block;
}

.prompt_title {
    text-align: center;
    color: white;
    background-color: #313131;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
}

.code_age_input {
    width: 20%;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.edit_container {
    width: 85%;
    min-height:200px;
    margin: 0 auto;
    margin-top: -15px;
    border: 1px solid #afafaf;
    border-radius: 10px;
    background-color: #d9d9d9;
    padding: 10px;
}

.category_inner {
    width:100%;
}

.category {
    padding-left:0px;
    border: 1px solid #afafaf;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.question {
    padding: 3px;
    padding-left:10px;
    border-bottom: 1px solid #b0b0b0;
}

.answer {
    padding-left:15px;
}

#categories_container {
    display:none;
}

#main_menu {
    display: none;
}

#code_menu {
    display: none;
}

#app_menu {
    display: none;
}

#admin_menu {
    display: none;
}
